@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: #31293A;
}

.header{
	width: 100%;
	height: 50px;
	background: #8257B0;
}

.container {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
}

.list {
	list-style: none;
}

/* Top Section */

.section-top {
	min-height: 601px;
	
	background-color: #FFf;
	background-repeat: no-repeat;
	background-position: top center;
}

.section-top.bg-1{
	background-image: url('./../img/bg-1.svg');
}

.section-top.bg-2{
	background-image: url('./../img/bg-2.svg');
}

.section-top.bg-3{
	background-image: url('./../img/bg-3.svg');
}

.section-top.bg-4{
	background-image: url('./../img/bg-4.svg');
}

.section-top.bg-5{
	background-image: url('./../img/bg-5.svg');
}

.section-top.bg-6{
	background-image: url('./../img/bg-6.svg');
}

.section-top.bg-7{
	background-image: url('./../img/bg-7.svg');
}

.section-top.bg-8{
	background-image: url('./../img/bg-8.svg');
}

.section-top__wrapper {
	width: 100%;
	display: grid;
	/* grid-template-columns: minmax(400px, 670px) 1fr; */
	grid-template-columns: minmax(320px, 670px ) auto;
	grid-template-rows: minmax(200px, auto) 1fr;

	justify-content: start;
	column-gap: 30px;
	row-gap: 40px;

	padding-top: 36px;
}

.title-h1 {
	padding-top: 70px;

	font-size: 46px;
	font-weight: 600;
	line-height: 56px;
}

.free-class {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	column-gap: 30px;
	row-gap: 20px;

	padding: 20px;
	width: fit-content;
	max-width: 520px;
	height: fit-content;

	border-radius: 20px;

	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	
	background: #fff;
}


.free-class mark{
	display: inline-block;
	padding: 0px 4px;
	margin-right: 4px;

	color: #FFF;

	border-radius: 6px;
	background:#8257B0;
}

.btn-primary {

	display: flex;
	padding: 14px 40px;
	justify-content: center;
	align-items: center;
	
	color: #FFF;
	text-align: center;
	font-family: inherit;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	white-space: nowrap;

	border: none;

	border-radius: 10px;
	background-color: #57D690;
	cursor: pointer;
	appearance: none;

	transition: background-color .2s ease-out;
}

.btn-primary:hover {
	background-color: #6AE8A2;
}

.video-preview__box {
	grid-column: 2/3;
	grid-row: 1/-1;
	position: relative;
	padding: 26px;
	max-width: 422px;
	height: fit-content;

	border-radius: 66px;
	background: #FFF;
}

.video-preview__btn {
	display: flex;
	width: 150px;
	height: 150px;
	justify-content: center;
	align-items: center;

	position: absolute;
	right: -10px;
	bottom: 20px;

	border-radius: 50%;
	border: 10px solid  #FFF;
	background-color: #FF6A4D;

	cursor: pointer;
	z-index: 1;

	transition: background-color .2s ease-out;
}

.video-preview__btn:hover{
	background-color: #8257B0;
}

.video-preview__label{
	display: flex;
	transform: rotate(-8deg);
	padding: 10px;
	justify-content: center;
	align-items: center;

	position: absolute;
	left: 4px;
	bottom: 30px;

	font-size: 17px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.51px;
	text-transform: uppercase;

	border-radius: 10px;
	background: #DAF700;

	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.video-preview__video {
	/* width: 370px; */
	min-width: 276px;
	width: 100%;
	max-width: 370px;
	/* height: 494px; */
	/* height: auto; */

	overflow: hidden;
	border-radius: 40px;
}


/* Benefists */

.benefits {
	margin: 16px 0 90px;
}

.title-h2{
	display: block;
	text-align: center;
	margin-bottom: 40px;

	font-size: 36px;
	font-weight: 600;
	line-height: 46px;
}

.benefits__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: start;
	gap: 30px;

}

.benefits__list.list-3-2{
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: repeat(2, 1fr);
}

.benefits__item {
	display: flex;
	flex-direction: column;
	max-width: 270px;
	gap: 10px;
	align-items: center;
}

.benefist__img {
}

.benefists__text {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

.benefits__item-title{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px; /* 150% */
	text-align: center;
}
.benefists__text-tiny{
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
	text-align: center;
}

.benefists__text span{
	font-weight: 400;
}



@media (max-width: 1023px) {
	.title-h1 {
		font-size: 36px;
		line-height: 46px;
	}

	.free-class {
		flex-direction: column;
		justify-content: flex-start;

		box-shadow: 0px 6px 12px 0px rgba(141, 100, 184, 0.18);
	}

	.free-class span{
		text-align: center;
	}

	.btn-primary {
		width: 100%;
	}
		
}

@media (max-width: 768px) {
	.section-top__wrapper{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		gap: 0;
	}	

	.title-h1 {
		padding-top: 0;
		margin: 0 auto;
		margin-bottom: 30px;
		max-width: 600px;
	
		font-size: 36px;
		line-height: 46px;
		text-align: center;
	}

	.video-preview__box {
		grid-column: 1/-1;
		grid-row: 2/3;

		position: relative;
		padding: 42px;
		width: 100%;
		max-width: 100%;
		height: fit-content;
	
		border-radius: 66px;
		background: #FFF;
	}

	.video-preview__label{
		left: 20px;
		bottom: 47px;
	}

	.video-preview__video {
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		height: auto;
	}


	.free-class {
		width: 100%;
		max-width: 100%;
		align-items: center;
		box-shadow: 0px 6px 12px 0px rgba(141, 100, 184, 0.18);
	}

	/* Benefists */

	.benefits {
		margin: 20px 0 60px;
	}

	.title-h2{
		font-size: 26px;
		line-height: 36px; /* 138.462% */
	}

	.benefits__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: row;
		gap: 30px;
	}

	.benefits__list.list-3-2{
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: repeat(3, 1fr);
	}
}

@media (max-width: 520px) {
	.title-h1 {
		padding-top: 0;
		margin-bottom: 20px;

		font-size: 24px;
		line-height: 33px;
	}

	.video-preview__box {
		padding: 0;
		height: fit-content;
		background: none;
	}

	.video-preview__btn {
		width: 100px;
		height: 100px;
	
		right: -10px;
		bottom: -11px;
	
		border: 7px solid  #FFF;
	}

	.video-preview__label{
		left: -3px;
		bottom: 2px;
	
		font-size: 13px;
		letter-spacing: 0.39px;
		text-transform: uppercase;

		border-radius: 10px;
	}

	.video-preview__video {
		border-radius: 20px;
	}
	


	/* Benefists */

	/* .benefits{
		overflow-x: auto;
	} */
	

	.title-h2{
		font-size: 20px;
		line-height: 28px; /* 140% */
	}

	.benefits__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;

		overflow-x: auto;
	}

	.benefits__list.list-3-2{
		grid-template-columns: repeat(6, 1fr);
		grid-auto-flow: 1fr;
	}

	.benefits__item {
		min-width: 220px;
	}
}